.avatar_icon,
.avatar_name {
    color: $main-header-icons;
}
.avatar_name {
    font-size: $small;
}
.avatar_container {
    display: inline-flex;
    align-items: center;
    height: 50px;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    padding: 0.4rem;
}
