.card_item {
    border-radius: $border-radius-normal;
    box-shadow: 0, 0, 0, 0.11;
    background-color: $white;
    border: 1px solid hsla(0, 1, 84, 1);
    max-width: 295px;
    height: 140px;
    padding: 18px 12px 0 12px;
    margin-bottom: 1rem;
    cursor: pointer;
    &_title {
        font-weight: $large-weight;
        color: $dark-1;
        font-size: 1rem;
        line-height: 19px;
        margin-bottom: 0.2rem;
    }
    &_description {
        display: block;
        color: $dark-1;
        font-size: $small;
        margin-bottom: 1rem;
        text-decoration: none;
    }
    &_tag {
        color: $dark-1;
        margin-bottom: 0.3rem;
        font-size: $small;
    }
    &_tag,
    &_date {
        display: flex;
        align-items: center;
    }
    &_date {
        font-size: $small;
        padding-top: 0.3rem;
        border-top: 1px solid $bg-color;
    }
}
span#tag-id,
span#tag-date {
    color: $light-gray-color;
    font-size: 16px;
    margin-right: 0.75rem;
}
