*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-size: $normal;
    font-weight: $small-weight;
    background: $white;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}
button {
    background-color: transparent;
    border: 0;
    user-select: none;
}
select {
    font-size: $small;
    line-height: 1.5;
    padding: 0.3rem 4rem 0.3rem 0.5rem;
    border-color: $border-color;
    appearance: none;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.label {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 0.3rem;
    align-items: center;
}
