aside {
    background-color: $blue-3;
}
.aside_logo {
    background-color: $blue-5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside_header {
    background-color: $blue-6;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);
    padding: 0.3rem 0 0.3rem 0.8rem;
    display: flex;
    align-items: center;
    height: 25px;
    // Material Icon component Styling
    span.material-icons.MuiIcon-root.aside_header_icon.MuiIcon-fontSizeSmall {
        font-size: 1rem;
        color: $white2;
    }
    &_title {
        font-size: $xsmall;
        color: $white2;
        margin-left: 0.3rem;
    }
}
.aside_header_items_container {
    background-color: $blue-2;
}
.aside_content {
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);
    &:hover {
        background-color: $blue-5;
    }
    &:last-child {
        border-bottom: none;
    }
}
.aside_main_items {
    display: grid;
    grid-template-columns: 1fr 40px;
    &.active {
        background-color: white;
        p {
            color: $blue-4;
        }
    }
    .aside_header_item {
        transition: all 0.2s;
        padding: 0.5rem 0 0.5rem 0.8rem;
        font-weight: $small-weight;
        font-size: $small;
        color: $white;
        cursor: pointer;
        display: flex;
        &_beta {
            background: $beta-color;
            border-radius: 20px;
            padding: 0.2rem 0.4rem;
            margin-left: 0.5rem;
            font-size: $xsmall;
        }
        &_arrow {
            background-color: $blue-6;
            border-radius: $border-radius-small;
            align-self: center;
            color: $border-color;
            height: 20px;
            width: 20px;
        }
    }
}
// Material Icon component Styling
span.material-icons.MuiIcon-root.aside_header_item_arrow.MuiIcon-fontSizeSmall {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
